* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
}

.map {
  width: 350px;
  height: 700px;
  background-color: #ccc;
  position: relative;
}

.feiji {
  display: inline-block;
  position: absolute;
  width: 35px;
  height: 50px;
  background-color: skyblue;
  background: url('./img/feiji.png') no-repeat;
  background-size: cover;
  /* border: 50px solid red;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: red; */
}

.bullet {
  position: absolute;
  width: 10px;
  height: 30px;
  background-color: red;
  background: url('./img/daodan.png') no-repeat;
  background-size: cover;
}

.enemy-bullet {
  position: absolute;
  width: 10px;
  height: 30px;
  background-color: black;
  background: url('./img/daodan2.png') no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}

.enemy {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: black;
  background: url('./img/feiji2.png') no-repeat;
  background-size: cover;
}

.box {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
}

.container {
  width: 350px;
  height: 350px;
  background: url('./img/爆炸.png') no-repeat;
  background-size: cover;
  background-position: -0px -0px;
}